/*FOOTER*/

.footer{
    background-color: rgb(248, 234, 229);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 1.5rem;
  }
  
  .footer__item{
    display: inline-block;
    padding: 1rem;
  }
  
  .footer__link{
    text-decoration: none;
    color: rgba(75, 75, 75, 0.842);
  }