.nav search{
    font-size: 1.2rem;
  }
  /*HERO*/
  
  .hero__container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 5rem;
    padding: 2rem;
    background-image: url(../../imagenes/fine\ background.jpg);
  }
  
  .hero__cabecera {
    font-size: 3rem;
    font-family: "Times New Roman", Times, serif;
    position: fixed;
  }
  .hero__slogan {
    font-size: 2rem;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    margin-top: 8rem;
    grid: 0%;
  }
  /*INFORMACION*/
  
  .info{
    padding: 5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
  }

  .infocard--3{
    display: flex;
    flex-direction: column;
    margin: 5rem 0rem;
  .infocard__desc{
    flex-direction: column;
    margin-inline-start: 5%;
    margin-top: 5%;
    align-items: flex-start;
    justify-content: space-evenly;
  .infocard__titulo{
    font-size: 2.5rem;
    padding: 1rem;
  }
}
  }

  
  .infocard__texto{
    font-size: 1.5rem;
    padding: 0.5rem;
  .btn--infocard{
    position: absolute;
  .infocard__video{
    width: 30%;
  .infocard__list{
    padding: 1.5rem;
    display: flex;
    align-content: center;
    justify-content: space-around;
  }
}
  }
}

  .principal{
    margin: 2rem 3rem;
    background-image: url(../../imagenes/fine\ background.jpg);
  .principal__2{
    flex-direction: column;
    background: none;
    .principal__box{
    margin: 12rem 4rem;
    flex-direction: column;
  }
}
}
  
  /*FORMULARIO*/
  
  .form{
    background-image: url(../../imagenes/fine\ background.jpg);
    background: rgb(170, 126, 175);
    display: flex;
    flex-direction: row-reverse;
    align-content: flex-end;
    justify-content: flex-start;
  .form__container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 50%;
    left: 1%;
    top: 1rem;
  .form__div{
    margin: 0.5rem 2rem;
    display: flex;
    flex-direction: column;
  .form__desc{
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  .form__input{
    padding: 0.5rem;
    width: 100%;
  }
}
  }
}
  }

  
  /*CATALOGO*/
  
  .catalogo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4rem;
    gap: 1rem;
    background: url(../../imagenes/fine\ background.jpg);
  .catalogo__producto{
    display: flex;
    flex-direction: column;
    width: 20rem;
    padding: 2rem;
    margin-bottom: 2rem;
    border-style: solid;
    border-color: black;
    border-radius: 50px;
  .catalogo__desc{
    background-color: #def0a3;
  .catalogo__img{
    width: 100%;
    background-color: rgb(173, 151, 151);
    border-radius: 50%;
  }
}
  }
}

  /*IDs y ETIQUETAS ESPECIFICAS*/

#mensaje{
    left: 10%;
    top: 12rem;
    width: 40%;
  #submit{
    font-size: 1.5rem;
    left: 0;
    bottom: 10%;
    margin: 1rem 20rem;
  #gmap_canvas{
    width: 30rem;
    height: 30rem;
    margin-right: 2.5rem;
  }
}
}

  section.info__principal h1.infocard__titulo{
    padding: 5rem;
  }
  .logos {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 40px; }
  
  .logos a img {
    height: 40px;
    position: fixed; }
    .logos a img:hover {
      animation: bounce 1.5s; }
  .logos .wp img {
    bottom: 4em; }
  .logos .gmail img {
    bottom: 1em; }
    /*main acerca de mi y cursos*/

    main {
       background: url(../../imagenes/fine\ background.jpg);
        grid-area: main;
        margin-right: 30px; }
        main h3 {
          font-size: 2rem;
          margin-top: 25px;
          margin-bottom: 25px; 
        main h4, main h5 {
          font-size: 1.5rem;
          margin-bottom: 30px; }
        main .accordionTitle {
          margin-bottom: 10px;
          margin-right: 30px; }
        main .articleP, main .aboutClasesP {
          font-family: "DMSans-Regular";
          font-size: 1.8rem;
          line-height: 3rem;
          margin: 5px 30px 30px 5px;
          text-align: justify; }
        main .aboutP {
          font-family: "beautyDemo";
          font-size: 2.3rem;
          text-align: center;
          margin-top: 40px; }
        main h3::selection, main h4::selection, main p::selection {
          background: #aba269;
          color: rgb(116, 73, 73); }
        main .accordionClases {
          margin-right: 25px;
          margin-bottom: 30px;
          margin-left: 10px; }
        main .textTransbox {
          display: block;
          margin-right: 20px;
          margin-left: 15px; }
        main .textTransbox::before {
          content: "";
          background-image: url(../../imagenes/fine\ background.jpg);
          opacity: 0.5;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          height: auto;
          width: auto;
          z-index: -3; }
           /*carousel*/
           .contenedorIndex, .contenedorIng {
            margin-right: 20px;
            margin-left: 10px; 
          background: url(../../imagenes/fine\ background.jpg);}
            .contenedorIndex .carousel, .contenedorIng .carousel {
              margin-top: 15px;
              padding-bottom: 25px; }
              .contenedorIndex .carousel .carousel-item, .contenedorIng .carousel .carousel-item {
                height: 400px; }
                .contenedorIndex .carousel .carousel-item img, .contenedorIng .carousel .carousel-item img {
                  object-fit: cover;
                  top: 0;
                  left: 0;
                  min-height: 400px; }
                .contenedorIndex .carousel .carousel-item .indexText, .contenedorIng .carousel .carousel-item .indexText {
                  display: flex;
                  justify-content: center;
                  align-content: center; }
                  .contenedorIndex .carousel .carousel-item .indexText p, .contenedorIng .carousel .carousel-item .indexText p {
                    width: 290px;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                    color: black;
                    background-color: #b7afa6; }
          
          .contenedorIndex .indexText p {
            font-size: 1.8rem;
            margin-bottom: 70%; }
          
          .contenedorIng .indexText p {
            font-size: 1.5rem;
            margin-bottom: 40%; }

            #hero-container {
                height: 80vh;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .menu {
              display:block;
              height: 76px;
              width: 120px;
              margin: 0;
              overflow: hidden;
            }
            
            /* Bordes superiores */
            
            .menu.cursos {
              border-top: #b577b0 0.3em solid;
            .menu.nivel {
              border-top: #c68aa1 0.3em solid;
            .menu.in {
              border-top: #c4db77 0.3em solid;
            }
          }
        }

            
            /* Atributos y transición */
            
            .menu > span {
              display: block;
              overflow: hidden;
              left: 0;
              top: 0;
              width: 100%;
              height: 0%;
              transition: 0.5s ease-in-out;
              -webkit-transition: 0.5s ease-in-out;
            .menu:after, .menu > span > span {
              display: block;
              text-align: center;
              border-radius: 0em;
              padding: 2em 0 1.5em;
            .menu:after {
              content: attr(data-title);
              width: 100%;
              background: rgb(163, 211, 212);
              color: rgb(210, 149, 204); 
            .menu > span > span {
              width: 120px;
              color: rgb(104, 99, 99);
            .menu.cursos > span > span {
              background: #863f95;
            }
            .menu.nivel > span > span {
              background: #9c477a;
            }
            .menu.in > span > span {
              background: #b5e45d;
            }
            }
          }
        }
      }
    }
  

            /* Lo que pasa con hover */
            
            .menu:hover > span {
                height: 100%; 
            }
            /* Dando formato a lista */ 
            
            ul {
              list-style-type: none;
              margin: 0;
              padding: 0;
            li a {
              display: inline;
              float: left;
              text-decoration: none;
              font-family: sans;
            }
          }

            .englishbrand-card {
              margin-top: 80px;
              display: flex;
              justify-content: space-around;
              align-items: center;
          .wt-mir-tittle {
              margin-top: 200px;
          .card-brand {
              width: 300px;
              display: flex;
              flex-direction: column;
              align-items: center;
          .card-brand h3 {
              font-size: 40px;
              margin: 30px 0;
          .card-brand img {
              width: 100%;
              height: 400px;
              object-fit: cover;
          .card-brand span {
              background-color: rgb(163, 180, 197);
              width: 100%;
              height: 400px;
              transform: translateX(50px) translateY(-50px);
              z-index: -10;
          }
        }
      }
    }
  }
}

          main {

            grid-area: main;
            margin-right: 30px;
        
            h3 {
                font-size: h3-font-size;
                margin-top: 25px;
                margin-bottom: 25px;
            h4, h5 {
                font-size: h4-h5-font-size;
                margin-bottom: 30px;
                }
              }
        
            .accordionTitle {
                margin-bottom: 10px;
                margin-right: 30px; 
            .articleP, .aboutClasesP {
                font-family: fuente-p;
                font-size: p-font-size;
                line-height: 3rem;
                margin: 5px 30px 30px 5px;
                text-align: justify;
            .aboutP {
                font-family: fuente-header-and-footer;
                font-size: p-font-size + 0.5rem;
                text-align: center;
                margin-top: 40px;
            }
          }
        }
      }
    
        
            h3::selection,h4::selection,p::selection {
                background: #ffdd00;
                color: rgb(244, 223, 223);
            .accordionClases {
                margin-right: 25px;
                margin-bottom: 30px;
                margin-left: 10px;
            .textTransbox  {
                display:block;
                margin-right: 20px;
                margin-left: 15px;
              .textTransbox::before {
                content:"";
                background-image: url(../../imagenes/fine\ background.jpg);
                opacity:0.5;
                top:0;
                bottom:0;
                right:0;
                left:0;
                height: auto;
                width: auto;
                z-index: -3;
              }}
            }
          }
        
              main {

                grid-area: main;
                margin-right: 30px;
                h3 {
                    font-size: h3-font-size;
                    margin-top: 25px;
                    margin-bottom: 25px;
                h4, h5 {
                    font-size: h4-h5-font-size;
                    margin-bottom: 30px;
                    }
                  }
                }
            
                .accordionTitle {
                    margin-bottom: 10px;
                    margin-right: 30px;   
                .articleP, .aboutClasesP {
                    font-family: fuente-p;
                    font-size: p-font-size;
                    line-height: 3rem;
                    margin: 5px 30px 30px 5px;
                    text-align: justify;
                .aboutP {
                    font-family: fuente-header-and-footer;
                    font-size: p-font-size + 0.5rem;
                    text-align: center;
                    margin-top: 40px;
                }
              }
            }
            
                h3::selection,h4::selection,p::selection {
                    background: #ffdd00;
                    color: rgb(220, 211, 211);
                .accordionClases {
                    margin-right: 25px;
                    margin-bottom: 30px;
                    margin-left: 10px;
                .textTransbox  {
                    display:block;
                    margin-right: 20px;
                    margin-left: 15px;
                  .textTransbox::before {
                    content:"";
                    background-image: url(../../imagenes/fine\ background.jpg);
                    opacity:0.5;
                    top:0;
                    bottom:0;
                    right:0;
                    left:0;
                    height: auto;
                    width: auto;
                    z-index: -3;
                  }
                }
              }
                }
                /* Card */

.card {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card img {
  width: 80%;
}


.card .name {
  font-weight: bolder;
}

.card .price {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 100;
}

.card-button {
   border: solid black 1px;
   padding: 10px 60px;
   color: rgba(109, 109, 109, 1);
   text-decoration: none;
   margin-top: 10px;
   box-shadow: 0px 0px 10px .2px rgba(141, 141, 141, 0.8);
   cursor: pointer;
}

.card-button:hover {
  border: solid  rgb(184, 114, 48) 1px;
  background-color: rgb(184, 114, 48);
  color: #fff;
}


/* product section */

.product-gallery {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}


/* Brand section */

.brand-gallery {
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.wt-mir-tittle {
  margin-top: 200px;
}

.card-brand {
  width: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-brand h3 {
  font-size: 40px;
  margin: 30px 0;
}

.card-brand img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.card-brand span {
  background-color: rgba(88, 84, 84, 0.247);
  width: 100%;
  height: 400px;
  position: absolute;
  transform: translateX(50px) translateY(-50px);
  z-index: -10;
}


/* Final brand-card home */


.final-brand-cont {
  display: flex;
  justify-content: space-around;
  margin-top: 300px;
}

.cont-color-img {
  height: 600px;
  width: 350px;
  position: relative;
}

.cont-color-img img {
  width: 100%;
}

.color {
  background-color: rgba(88, 84, 84, 0.247);
  width: 100%;
  height: 526px;
  position: absolute;
  transform: translateX(80px) translateY(-80px);
  z-index: -1;
}



.cont-text-btn-tle h2 {
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.cont-text-btn-tle p {
  font-size: 30px;
  font-weight:lighter;
  margin-bottom: 50px;
}


.cont-text-btn-tle a {
  background-color: rgba(210, 139, 73, 0.911);
  color: #fff;
  text-decoration: none;
  padding: 16px 25px;
  font-size: 30px;
  width: 250px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 5px 5px 10px 2px rgba(168, 168, 168, 0.8);
}

.cont-text-btn-tle a:hover {
  background-color: rgb(184, 114, 48);
}

                
              
/* Menú horizontal con transiciones */

/* Formato general de cada item */

.menu {
  display: block;
  height: 76px;
  width: 120px;
  margin: 0;
  overflow: hidden;
}

/* Bordes superiores */

.menu.nivel {
  border-top: #e2cd8e 0.3em solid;
}

.menu.menu.cursos {
  border-top: #fdaeda 0.3em solid;
}

.menu.in {
  border-top: #c43bc9 0.3em solid;
}

/* Atributos y transición */

.menu > span {
  display: block;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 100%;
  height: 0%;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
}

.menu:after, .menu > span > span {
  display: block;
  text-align: center;
  border-radius: 0em;
  padding: 2em 0 1.5em;
}

.menu:after {
  content: attr(data-title);
  width: 100%;
  background: rgb(198, 168, 168);
  color: #fff; 
}

.menu > span > span {
  width: 120px;
  color: #fff;
}

.menu.cursos > span > span {
  background: #89826f;
}

.menu.nivel > span > span {
  background: #b9cdc1;
}

.menu.in > span > span {
  background: #7b6f6d;
}

/* Lo que pasa con hover */

.menu:hover > span {
    height: 100%; 
}

/* Dando formato a lista */ 

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  display: inline;
  float: left;
  text-decoration: none;
  font-family: sans;
}